@font-face {
    font-family: 'mjm number Font';
    src: url('./fonts/NotoSansDisplay-Regular.ttf');
}

* {
    line-height: 100%;
    font-family: 'mjm number Font',Roboto,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #ddd;
}

html, body {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #252525;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.controls-btns-shadow {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    fill: none;/*rgba(0,0,0,0.5)*/
    stroke: green;
    stroke-width: 1px;
    opacity: 0.12;
    -moz-opacity: 0.12;
    -khtml-opacity: 0.12;
}

.main {
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.logo-area {
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    width: 100%;
    height: 35%;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.logo {
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    width: auto;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.logo > logo-size {
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    max-width: 100px;
    max-height: 100%;
    cursor: pointer;
}

.logo > logo-size > svg {
    position: relative;
    display: block;
    fill: #88B53A;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
}

.span-area {
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    width: auto;
    height: 100%;
    font-size: 400%;
    margin-left: 25px;
}

.span-area > span, .span-area > span > span {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    margin: auto;
}

.span-area > span > span {
    cursor: pointer;
}

.all-contents {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.system-minimum-requirement-area {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 30px;
    margin: auto;
}

.minimum-requirement-header, .minimum-requirement-content {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.minimum-requirement-header {
    font-size: 165%;
    text-align: center;
    border: #ddd solid 2px;
    border-bottom: none;
    background-color: #979797;
}

.minimum-requirement-content {
    font-size: 125%;
    text-align: center;
    border: #ddd solid 2px;
    border-bottom: none;
    background-color: #979797;
}

.minimum-requirement-header > span {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 8px 0px;
}

.minimum-requirement-tabel {
    position: relative;
    display: block;
    width: auto;
    height: auto;
}

.minimum-requirement-table-item {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    border: none;
    border-bottom: #ddd solid 2px;
    padding: 10px 0px;
}

.minimum-requirement-table-item > span {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
}

.download-area {
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 10px;
}

.download-area > div {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.download-btn {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    background-color: #88B53ACC;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    transition: background-color 200ms cubic-bezier(0,0,0.2,1);
    -webkit-transition: background-color 200ms cubic-bezier(0,0,0.2,1);
    -moz-transition: background-color 200ms cubic-bezier(0,0,0.2,1);
    -ms-transition: background-color 200ms cubic-bezier(0,0,0.2,1);
    -o-transition: background-color 200ms cubic-bezier(0,0,0.2,1);
}

.download-btn:hover {
    background-color: #88B53A;
    transition: background-color 100ms cubic-bezier(0,0,0.2,1);
    -webkit-transition: background-color 100ms cubic-bezier(0,0,0.2,1);
    -moz-transition: background-color 100ms cubic-bezier(0,0,0.2,1);
    -ms-transition: background-color 100ms cubic-bezier(0,0,0.2,1);
    -o-transition: top 100ms cubic-bezier(0,0,0.2,1);
}

.download-btn:active {
    background-color: #ffffff33;
}

.download-btn > span {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 150%;
    text-shadow: 0 0 3px rgb(0 0 0 / 75%);
    padding: 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.download-btn-progress-text-area {
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 100%;
    background-color: transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-top: 5px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.download-btn-progress-text-area-hidden {
    display: none;
}

.download-btn-progress-text-area > div {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    background-color: #88B53ACC;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.download-btn-progress-text-area > div > span {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 120%;
    white-space: nowrap;
    letter-spacing: 3px;
    color: #dddddd;
    text-shadow: 0 0 3px rgb(0 0 0 / 75%);
    padding: 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.hidden {
    pointer-events: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}
